TELEGRAM_TOKEN=token
SWAP_PAY_BASE_URL=http://127.0.0.1:9000
SWAP_PAY_API_KEY=api_key
SWAP_PAY_APPLICATION=demo_application
MONGODB_USER=root
MONGODB_PASS=rootpassword
MONGODB_HOST=mongodb
MONGODB_PORT=27017
USE_PROXY=false
PROXY_URL=
